<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Welcome to the text analyser. Enter your text below</h1>
    <form action="/analyse" method="get">
      <textarea name='text' style="width: 1477px; height: 291px"> </textarea><br>
      <input type="checkbox" name="removepunc"> Remove Punctations<br>
      <input type="checkbox" name="fullcaps">FULL CAPITALIZE<br>
      <button type="submit">Analyst text</button>
    </form>
  </body>
</html>
